 body
{
	direction:rtl;
	text-align:right;
}

i
{
	vertical-align:middle;
}
.btn
{
  min-width: 48px;
	height: 40px;
  line-height: 40px;
  color:#6750A4;
	padding: 0 16px 0 0 ;
	margin:8px 0 0px 8px;
  display:inline-block;
  font-weight: 500;
}
i
{
	color:#6750A4;
	font-size:18px;
	padding:0 8px 0 12px;
}

.btn:hover
{
  background-color: #6750A4;
}
.btn:focus
{
  background-color: #6750A4;
}
.btn:active
{
  background-color: #6750A4;
}
.btn[disabled]
{
  background-color: #1C1B1F;
  color: #1C1B1F;
  opacity: 38%;
}
.btn[disabled] i
 {
   color: #1C1B1F;
   opacity: 38%;
 }

.outlined-button
{
	color:#6750A4;
  outline-style:solid;
  outline-color:#938F99;
  outline-width: 1px;
  border-radius:2em;
}

.outlined-button:hover
{
  background-color: #79747E;
}
.outlined-button:focus
{
  background-color: #6750A4;
}
.outlined-button:active
{
  background-color: #79747E;
}
.outlined-button[disabled]
{
  background-color: #1C1B1F;
  color: #1C1B1F;
  opacity: 38%;
}
.outlined-button[disabled] i
 {
   color: #1C1B1F;
   opacity: 38%;
 }

.filled-tonal-button
{
	color:#1E192B;
	padding: 0 16px 0 0 ;
	margin:8px 0 0 8px;
  display:inline-block;
  border-radius:2em;
  background-color: #E8DEF8;
}
.filled-tonal-button i
{
  color: #1E192B
}

.filled-tonal-button:hover
{
  background-color: #1E192B;
}
.filled-tonal-button:focus
{
  background-color: #1E192B;
}
.filled-tonal-button:active
{
  background-color: #1E192B;
}
.filled-tonal-button[disabled]
{
  background-color: #1C1B1F;
  color: #1C1B1F;
  opacity: 38%;
}
.filled-tonal-button[disabled] i
 {
   color: #1C1B1F;
   opacity: 38%;
 }



.filled-button
{
  color:#FFFFFF;
  border-radius:2em;
  background-color:#6750A4;
}
.filled-button i
{
  color:#FFFFFF;
}
.filled-button:hover
{
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.filled-button:focus
{
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.filled-button:active
{
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.filled-button[disabled]
{
  background-color: #1C1B1F;
  color: #1C1B1F;
  opacity: 38%;
}
.filled-button[disabled] i
 {
   color: #1C1B1F;
   opacity: 38%;
 }
