body
{
  direction: rtl;
  font-family:"b nazanin";
}
.card
{
  width: 480px;
  border: solid 1.5px #e0e0e0;
  border-radius: 3px;
  display: grid;
  grid-template-columns: auto auto;
}
.card__img-top
{
  width: 175px;
  height: 100%;
  margin: 0;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card__body
{
  padding:0 16px;
  margin: 0;

}
.card__title
{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0px;
  margin-top: -12px;
  line-height: 60px;
  font-size: 21px;
  font-weight: bold;
}
.card__text
{

  font-size: 17px;
  color: #232F34;
  margin: 0;
  padding-top:24px;
}
.btn
{
  min-width: 64px;
	padding:0px 8px;
	height:36px;
  line-height: 36px;
	font-size:17px;
  font-weight: bold;
  margin:8px 0;
	background-color:#FFFBFE;
  text-decoration: none;
  border-radius: 1px;
  display: inline-block;
}
.btn_pirimary
{
  	color:#6750A4;
}
.btn_pirimary:hover
{
  	background-color:rgba(103,80,164,.05);
}
.btn_pirimary:focus
{
  	background-color:rgba(103,80,164,.1);
}
