body
{
  direction: rtl;
  font-family: "b nazanin";
  font-size: 24px;
  box-sizing: border-box;
}
input
{
    display: block;
    height: 48px;
    padding: 16px 40px 16px 12px;
    box-sizing: border-box;
    width: 280px;
    font-size: 24px;
    font-family: "b nazanin";

}
input:focus
{
  outline-color: #6750A4;
  outline-width: 2px;
}
.container
{
  position: relative;
}
.container .first
{
  position: absolute;
  top: 45px;
  font-size: 24px;
}
.container .last
{
  position: absolute;
  top: 45px;
  right: 250px;
  font-size: 24px;
}
p
{
  height: 16px;
  margin: 0px;
  padding: 0 16px 0 12px;
}
